{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ваши задачи</title>
    <link rel="stylesheet" href="{% static 'task_list_style.css' %}">
</head>
<body>
    <div class="container">
        <h1>
            Ваши задачи
           <form action="{% url 'export_tasks' %}" method="get" style="display:inline;">
    <button type="submit" class="exportexcel-button" title="Экспортировать задачи в Excel">
        <i class="fas fa-file-export" style="color: #4CAF50;"></i>
    </button>
</form>

        </h1>
        <div class="filter-container">
            <form method="GET" action="{% url 'task_list' %}">
                <select name="category" id="categoryFilter">
                    <option value="">Все категории</option>
                    {% for category in categories %}
                        <option value="{{ category.name }}" {% if request.GET.category == category.name %}selected{% endif %}>
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
                <select name="priority" id="priorityFilter">
                    <option value="">Все приоритеты</option>
                    <option value="1" {% if request.GET.priority == 1 %}selected{% endif %}>Низкий</option>
                    <option value="2" {% if request.GET.priority == 2 %}selected{% endif %}>Средний</option>
                    <option value="3" {% if request.GET.priority == 3 %}selected{% endif %}>Высокий</option>
                </select>
                <button type="submit" class="filter-button">Применить фильтры</button>
                <button type="button" class="reset-button" onclick="document.getElementById('categoryFilter').selectedIndex = 0; document.getElementById('priorityFilter').selectedIndex = 0;">Сбросить фильтры</button>
            </form>
        </div>

        <div id="task-container">
            <div id="task-grid" class="task-grid">
                {% for task in tasks %}
                    <div class="task-item" data-task-id="{{ task.id }}">
                        <h3>{{ task.title }}</h3>
                        <p class="task-category">
                            <strong>Категория:</strong>
                            {% if task.category %}
                                {{ task.category.name }}
                            {% else %}
                                Без категории
                            {% endif %}
                        </p>
                        <p class="task-priority">
                            <strong>Приоритет:</strong>
                            {% if task.priority == "1" %}
                                Низкий
                            {% elif task.priority == "2" %}
                                Средний
                            {% elif task.priority == "3" %}
                                Высокий
                            {% endif %}
                        </p>
                        <p class="task-due-date">
                            <strong>Дедлайн:</strong> {{ task.due_date|date:"d.m.Y H:i" }}
                        </p>
                        <div class="task-details">
                            <p><strong>Описание:</strong></p>
                            <p>{{ task.description }}</p>
                        </div>
                        <div class="button-container">
                            <a href="{% url 'export_task' task.id %}" class="button export-button">
                                <i class="fas fa-file-export"></i>
                            </a>
                            <a href="{% url 'task_form' task.pk %}" class="button edit-button">
                                <i class="fas fa-edit"></i>
                            </a>
                            <form action="{% url 'task_delete' task.pk %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="button delete-button">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                {% empty %}
                    <div class="task-item">Задачи отсутствуют.</div>
                {% endfor %}
            </div>

            <ul id="task-list" class="task-list" style="display: none;"></ul>
        </div>

        <div id="button-container">
            <a class="create-task-button" href="{% url 'task_create' %}">Создать новую задачу</a>
            <a class="import-button" onclick="document.getElementById('importModal').style.display='block'">Импорт задачи</a>
        </div>
    </div>

    <div id="importModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="document.getElementById('importModal').style.display='none'">&times;</span>
            <h2>Импорт задачи</h2>
            <input type="file" id="fileInput" accept=".json">
            <button onclick="importTask()">Импортировать</button>
            <form action="{% url 'export_tasks' %}" method="get">
                <button type="submit" class="btn btn-primary">Экспортировать все задачи в Excel</button>
            </form>
        </div>
    </div>

    <script>
        function importTask() {
            const fileInput = document.getElementById('fileInput');
            const file = fileInput.files[0];
            if (!file) {
                alert('Пожалуйста, выберите файл для импорта.');
                return;
            }

            const reader = new FileReader();
            reader.onload = function(event) {
                const jsonData = event.target.result;
                fetch('{% url "import_task" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: jsonData
                })
                .then(response => {
                    if (response.ok) {
                        alert('Задача успешно импортирована!');
                        location.reload();
                    } else {
                        return response.json().then(data => { throw new Error(data.error); });
                    }
                })
                .catch(error => {
                    alert('Ошибка импорта: ' + error.message);
                });
            };
            reader.readAsText(file);
        }

        window.onclick = function(event) {
            const modal = document.getElementById('importModal');
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            const taskItems = document.querySelectorAll('.task-item');
            const taskList = document.getElementById('task-list');
            const taskGrid = document.getElementById('task-grid');

            if (taskItems.length > 3) {
                taskGrid.style.display = 'none';
                taskList.style.display = 'block';

                taskItems.forEach(item => {
                    const listItem = document.createElement('li');
                    listItem.className = 'task-item';
                    listItem.innerHTML = item.innerHTML;
                    taskList.appendChild(listItem);
                });

                const buttonContainer = document.getElementById('button-container');
                taskList.insertAdjacentElement('afterend', buttonContainer);
            }
        });
    </script>
</body>
</html>
